* {
    box-sizing: border-box;
}

#chart {
    width: 100%;
    height: 100px;
    white-space: nowrap;
}
.table-row-header-text {
    font-weight: bold;
    pointer-events: none;
}

.events-row {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: clip;
    overflow-y: visible;
    border: solid 1px whitesmoke;
}

.time-axis {
    height: 30px;
    position: relative;
}

.time-tick {
    position: absolute;
}

.time-tick-line {
    width: 2px;
    background-color: whitesmoke;
    position: absolute;
    z-index: -1;
}

.time-tick-label {
    position: relative;
    color: grey;
}

.event {
    position: absolute;
    height: 90%;
    top: 50%;
    transform: translateY(-50%);
    bottom: 0;
    transform-origin: left bottom;
}

.event:hover {
    filter: grayscale(50%);
}

.tooltip {
    position: absolute;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #000;
    display: none;
    pointer-events: none;
}

.shadow {
    position: absolute;
    top: 30px;
    border-radius: 5px;
    height: 40px;
    background-color: #dadada;
}